<!DOCTYPE html>
<html>
<head>
    <title>Dogs2Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://www.gstatic.com/firebasejs/9.22.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.22.0/firebase-database-compat.js"></script>
</head>
<body>
    <head class="generalTitle">
        <h1>Dogs2Home</h1>
    </head>

    <header class="displayTitle">
        <h1>Live Display</h1>
    </header>

    <aside class="displayTitle">
        <img src="/video_feed" width="600" style="border: 5px solid #333;">
    </aside>

    <article class="commonQA">
        <strong>Common Q&A:</strong>
        <br>
        <strong>Lorem ipsum dolor, sit amet consectetur 
                adipisicing elit. Accusantium quam, mollitia 
                velit vero ad enim dolorem maxime reprehenderit nobis, 
                nemo et impedit libero quas debitis, quae explicabo voluptatum porro rerum!</strong>
    </article>


    

    <footer id="contribute">
        <strong>Contributor(s): Josue Cruz</strong>
    </footer>

    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.8.0/firebase-app.js";
        import { getDatabase, ref, onValue } from "https://www.gstatic.com/firebasejs/10.8.0/firebase-database.js";
        
        
        const firebaseConfig = {{ firebaseConfigInject | tojson | safe }};
        console.log(firebaseConfig);

        const app = initializeApp(firebaseConfig);
        const database = getDatabase(app);

        const statusRef = ref(database, 'live_status');

        onValue(statusRef, (snapshot) => {
            const data = snapshot.val();
            if (data) {
                console.log("Update received:", data);
            } else {
                console.log("No data available at this path.");
            }
        }, (error) => {
            console.error("Database read failed: ", error);
        });
    </script>
</body>
</html>