<!DOCTYPE html>
<html>
<head>
    <title>Dogs2Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://www.gstatic.com/firebasejs/9.22.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.22.0/firebase-database-compat.js"></script>
</head>
<body>
    <head class="generalTitle">
        <h1>Dogs2Home</h1>
    </head>

    <header class="displayTitle">
        <h1>Live Display</h1>
    </header>

    <aside class="displayTitle">
        <img src="/video_feed" width="600" style="border: 5px solid #333;">
    </aside>

    <article class="commonQA">
        <strong>Common Q&A:</strong>
        <br>
        <strong>Lorem ipsum dolor, sit amet consectetur 
                adipisicing elit. Accusantium quam, mollitia 
                velit vero ad enim dolorem maxime reprehenderit nobis, 
                nemo et impedit libero quas debitis, quae explicabo voluptatum porro rerum!</strong>
    </article>


    

    <footer id="contribute">
        <strong>Contributor(s): Josue Cruz</strong>
    </footer>

    <script>
        const firebaseConfig = {
            apiKey: "...",
            authDomain: "...",
            databaseURL: "https://...",
            projectId: "...",
            storageBucket: "...",
            messagingSenderId: "...",
            appId: "..."
        };

        firebase.initializeApp(firebaseConfig);
        const database = firebase.database();

        database.ref('live_status').on('value', (snapshot) => {
            const data = snapshot.val();
            if (data) {
                document.getElementById('detection-text').innerText = data.object;
                console.log("Update received:", data.object);
            }
            else{
                document.getElementById('detection-text').innerText = "Unable to detect object";
                console.log("Update not received", data.object)
            }
        });
    </script>
</body>
</html>